<div class="container-form">
  <h1>Iniciar Sesion</h1>
  <form [formGroup]="loginForm">
    <mat-form-field class="full-width">
      <mat-label>Correo</mat-label>
      <input type="email" matInput [formControl]="email" placeholder="example@example.com">
      <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
        Porfavor ingrese un correo valido
      </mat-error>
      <mat-error *ngIf="email.hasError('required')">
        El correo es <strong>Requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput [formControl]="password" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
        Porfavor ingrese una contraseña de al menos 8 caracteres
      </mat-error>
      <mat-error *ngIf="password.hasError('required')">
        La contraseña es <strong>Requerida</strong>
      </mat-error>
    </mat-form-field>

    <div class="container-center submit">
      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid"
        (click)="onSubmit()">Ingresar</button>
    </div>

  </form>
  <div class="container-center register">
    <button mat-stroked-button color="accent" (click)="handlerRegister()">Registrarse</button>
  </div>
</div>
